<ul class="list-group">
    <li *ngFor="let student of students" class="list-group-item" 
    
    [class.list-group-item-warning]="student.avg>=90">
        <div class="row">
        <div class="col-1">{{student.id}}</div>
        <div class="col-1">{{student.lastName}}</div>
        <div class="col-2">
            <button (click)="ShowDetails(student)"> Edit</button>
        </div>
        <div class="col-2">
            <button (click)="DeleteStudent(student)"> Delete Task</button>
        </div>
    </div>
    </li>
</ul>

<button class="btn btn-primary " (click)="addStudent()">
    addStudent
</button> 
<br>
<app-student-details [student]="selectedStudent" (onSaveNewStudent)="addNewStudentToList($event)"></app-student-details>
<!--<button (click)="delById($event)">
    DeleteById
</button>
<input type="text" (change)="search(searchId.value)" #searchId/>-->
<!--[class.list-group-item-dark]="student.status==='inactive'"-->